@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "@aws-amplify/ui-react/styles.css";

::selection {
  color: #e4d00a;
  background: #dbbebb;
}

.amplify-label {
  color: whitesmoke;
}

.amplify-button--primary {
  background: linear-gradient(
    to right,
    var(--amplify-colors-pink-80),
    var(--amplify-colors-yellow-40)
  );
}

.amplify-tabs__item--active {
  color: var(--amplify-colors-teal-90);
}

.amplify-input,
.amplify-field-group__control {
  font-family: "Josefin Sans", sans-serif;
}
